        <div class="modal hide fade" id="add-entry">
            <div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal">x</button>
            	<h3>我行贿了</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="entry-form">
                        <form id="form_add_entry" class="form-horizontal" method="post" action="/add_entry">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="input-target">行贿对象</label>
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <span class="add-on"><i class="icon-user"></i></span><input id="input-target" type="text" name="target" class="required"/>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="input-location">行贿地区</label>
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <span class="add-on"><i class="icon-home"></i></span><input id="input-location" type="text" name="location" class="required"/>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="input-amount">行贿金额</label>
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <span class="add-on">￥</span><input id="input-amount" type="text" name="amount" class="required"/>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="input-target">行贿日期</label>
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <span class="add-on"><i class="icon-time"></i></span><input id="input-date" type="text" data-date-format="yyyy-mm-dd" value="{{date}}" name="date"/>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="check-succeed">达成目标</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input id="check-succeed" type="checkbox" value="check-succeed" name="succeed">达成</input>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="input-story">行贿故事</label>
                                    <div class="controls">
                                        <textarea id="input-story" class="input-xlarge" rows="3" placeholder="吐槽几句吧" name="story"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            	<a id="btn_cancel_entry" data-dismiss="modal" class="btn">Cancel</a>
            	<a id="btn_save_entry" class="btn btn-primary">Save</a>
            </div>
        </div>
