{% extends "base.html" %}

{% block extra_style %}
        <link href="/static/css/datepicker.css" rel="stylesheet">

        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
{% endblock %}

{% block content %}
            <div class="hero-unit">
                <h2>我行贿</h2>
                <p>我行贿，我光荣。花小钱，办大事，一个字：值</p>
                <a class="btn btn-large btn-primary" data-toggle="modal" href="#add-entry" id="btn-add-entry">添砖加瓦</a>
            </div>
            <div class="row">
                <div class="span8">
                    <div class="page-header">
                        <div id="counter_bribe" class="pull-right"><input type="hidden" name="counter-value" value="{{count}}" /></div>
                        <h2>行贿记录</h2>
                    </div>
                    <div class="entry">
                        <div>
                            <span class="label label-info">我行贿啦</span> 某年月日，我给某类型人员行贿若干元。
                        </div>
                        <div class="navbar action-bar">
                            <ul class="nav">
                                <li><a href="#"><i class="icon-retweet"></i>我也干过</a></li>
                                <li><a href="#"><i class="icon-share"></i>分享</a></li>
                            </ul>
                        </div>
                    </div>
                    {% for entry in entries %}
                    <div class="entry">
                        {{entry.story}}
                    </div>
                    {% endfor %}
                    <div id="disqus_thread"></div>

                </div>
                <div class="span4">
                    <h2>行贿排行榜</h2>
                    <p>地区排行，行业排行</p>
                </div>
            </div>
            {% include "disqus.html" %}
            {% include "add_entry.html" %}
{% endblock %}



{% block extra_scripts %}          
        <script src="/static/js/bootstrap-datepicker.js" type="text/javascript"></script>
        <script src="/static/js/jquery.flipCounter.1.2.pack.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function() {
                    $("#counter_bribe").flipCounter({
                        imagePath:"/static/img/flipCounter-medium.png"
                    });          
                    $("#input-date").datepicker({
                        autoclose: true,
                        format: "yyyy-mm-dd"
                    });
                    $("#btn_save_entry").click(function(){
                        $("#form_add_entry").submit()
                    });

                    $("#form_add_entry").validate();
                });
        </script>
{% endblock %}

